{% extends "../base.html" %}
{% block main %}
    {% module TodayTip(show=True) %}
    <div class="main-page">
        {% for p in post %}
        <div class="panel panel-default post">
            <div class="panel-body">
                <hgroup>
                    <div class="row">
                        <div class="col-md-11">
                            <h1><a href="/post/id/{{ p.id }}">
                                <img src="{{ handler.gravatar(p.user.email, size=35).get_image() }}">
                                {{ p.title }}
                            </a></h1>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-calendar"> {{ p.pub_date }}</span>
                </hgroup>
                <hr>
                <p class="">{% raw handler.markdown(p.content[0:250]) %} <a href="/post/id/{{ p.id }}">继续阅读</a></p>
            </div>
        </div>
        {% end %}
    </div>
    {% module PageNav(nav=nav, show=True) %}
{% end %}
{% block side %}
    {% module RecentPost(side['recent_post']) %}
    {% module Tag(side['tags']) %}
    {% module RandomPost(side['random_post']) %}
{% end %}